obj/
bin/
.vs/Feldosbetterweaponsmod/v16/.suo
*.v2
Feldosbetterweaponsmod.csproj
*.json
*.props
*.targets
*.cache
obj/Debug/net45/Feldosbetterweaponsmod.AssemblyInfo.cs
obj/Debug/net45/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Feldosbetterweaponsmod.csproj.user
Feldosbetterweaponsmod.sln
.vs/feldosbetterweaponsmod/v17/.suo
*.v1
.vs/Feldosbetterweaponsmod/FileContentIndex/de33ddf8-addd-4be8-b94b-4a294a2cd10e.vsidx
.vs/Feldosbetterweaponsmod/FileContentIndex/read.lock
.vs/feldosbetterweaponsmod/v17/.suo
.vs/Feldosbetterweaponsmod/v17/.futdcache.v1
.vs/Feldosbetterweaponsmod/FileContentIndex/read.lock
.vs/Feldosbetterweaponsmod/FileContentIndex/21129494-a89d-41b7-9cb1-14c4899512e3.vsidx
*.v1
.vs/Feldosbetterweaponsmod/FileContentIndex/026278fb-d0e5-4b66-8847-51f6bc10f632.vsidx
.vs/Feldosbetterweaponsmod/FileContentIndex/aae1a16e-6252-4758-97fa-ce0297315c0a.vsidx
.vs/Feldosbetterweaponsmod/FileContentIndex/b5f1ca1e-3f08-402c-b853-5ed5ae547d82.vsidx
*.vsidx
*.v5
*.1
*.2
