obj/
bin/
.vs/Feldosbetterweaponsmod/v16/.suo
*.v2
Feldosbetterweaponsmod.csproj
*.json
*.props
*.targets
*.cache
obj/Debug/net45/Feldosbetterweaponsmod.AssemblyInfo.cs
obj/Debug/net45/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Feldosbetterweaponsmod.csproj.user
